@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost/static/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html {
    font-family: 'Jost';
}